.ant-pro-basicLayout {
  .ant-layout-header {
    height: 52px !important;
    line-height: 52px !important;

    .ant-pro-top-nav-header {
      box-shadow: none;
    }

  }
  .ant-layout {
    background-color: #F1F5FF;
  }

  .ant-pro-top-nav-header {

    .ant-pro-top-nav-header-logo {
      img {
        height: 1.5rem;
      }

      h1 {
        font-size: var(--fs-16);
      }
    }
  }

  &.jet-layout-menu-compact-search .ant-layout-sider:not(.ant-layout-sider-collapsed) {
    background: transparent !important;
    box-shadow: none !important;
    padding: 1rem !important;
    padding-top: 68px !important;
  }

  .ant-layout-sider-children {
    background-color: #fff !important;
    border-radius: .5rem;
  }

  .ant-page-header.has-breadcrumb {
    padding-top: 1rem !important;
  }

  .ant-page-header {
    padding-left: 0 !important;
  }

  .ant-pro-page-container-children-content {
    margin-left: 0 !important;
  }
}

.full-page-warp {
  border-radius: .5rem !important;
  overflow: hidden !important;
}

.jtable-body-spin {
  padding: 1rem !important;
}


