.ant-pro-basicLayout {
  .ant-layout-header {
    height: 52px !important;
    line-height: 52px !important;
    background: linear-gradient(90deg, #2C72DA 0%, #00CDEC 100%) !important;
    background-image: url('/layout/top.png'), linear-gradient(90deg, #2C72DA 0%, #00CDEC 100%) !important;
    background-repeat: no-repeat, no-repeat !important;
    background-position: right center, center !important;
    background-size: 19rem auto, cover !important;

    .ant-pro-top-nav-header {
      box-shadow: none;
    }
  }
  .ant-layout {
    background-color: #F1F5FF;
  }

  .ant-pro-top-nav-header {

    &.light, &.dark {
      background-color: transparent !important;
    }

    .ant-pro-top-nav-header-logo {
      img {
        height: 1.5rem;
      }

      h1 {
        font-size: var(--fs-16);
        color: #fff !important;
      }
    }

    .ant-pro-menu-item {
      color: #fff !important;
    }

    .notice-container .ant-badge .notice-icon, .user-info {
      color: #fff !important;
    }

    .ant-menu-light.ant-menu-horizontal >.ant-menu-item-selected::after {
      border-bottom-color: #fff !important;
    }
  }

  &.jet-layout-menu-compact-search .ant-layout-sider:not(.ant-layout-sider-collapsed) {
    background: transparent !important;
    box-shadow: none !important;
    padding: 1rem !important;
    padding-top: 68px !important;
  }


  .ant-layout-sider-children {
    background: linear-gradient(180deg, #FFF 0%, #DCEFFF 100%) !important;
    background-image: url('/layout/sider.png'), linear-gradient(180deg, #FFF 0%, #DCEFFF 100%) !important;
    background-repeat: no-repeat, no-repeat !important;
    background-position: left bottom, center !important;
    background-size: 10.125rem auto, cover !important;
    border-radius: .5rem;

    .ant-menu-item a, .ant-menu-submenu-title {
      color: #4E5969;

      &.router-link-active {
        color: var(--primary-color);
      }
    }

    .ant-menu-submenu-selected .ant-menu-submenu-title {
      color: var(--primary-color);
    }

    .ant-menu-item-selected::before {
      display: none !important;
    }
  }

  .ant-page-header.has-breadcrumb {
    padding-top: 1rem !important;
  }

  .ant-page-header {
    padding-left: 0 !important;
  }

  .ant-pro-page-container-children-content {
    margin-left: 0 !important;
  }
}

.full-page-warp {
  border-radius: .5rem !important;
  overflow: hidden !important;
}

.jtable-body-spin {
  padding: 1rem !important;
}

.ant-table .ant-table-cell {
  padding: 12px !important;
}
