* {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

*:hover,
*:focus-within {
  scrollbar-color: var(--jet-theme-border) transparent;
}

*::-webkit-scrollbar {
  width: 0.375rem;
  height: 0.375rem;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 999px;
}

*:hover::-webkit-scrollbar-thumb,
*:focus-within::-webkit-scrollbar-thumb {
  background: var(--jet-theme-border);
}

*::-webkit-scrollbar-thumb:hover {
  background: var(--jet-theme-text-tertiary);
}