.live-player-warp {
  display: flex;
  height: 100%;
}
.live-player-warp .live-player-content {
  display: flex;
  flex: 1;
  flex-direction: column;
}
.live-player-warp .live-player-content .player-screen-tool {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: var(--space-5);
}
.live-player-warp .live-player-content .player-screen-tool .ant-radio-button-wrapper {
  height: auto;
  padding: 0.25rem 1.25rem;
}
.live-player-warp .live-player-content .player-body {
  flex: 1;
}
.live-player-warp .live-player-content .player-body .player-screen {
  position: relative;
  display: grid;
  box-sizing: border-box;
  height: 100%;
}
.live-player-warp .live-player-content .player-body .player-screen.screen-1 {
  grid-template-columns: 1fr;
}
.live-player-warp .live-player-content .player-body .player-screen.screen-4 {
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}
.live-player-warp .live-player-content .player-body .player-screen.screen-9 {
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}
.live-player-warp .live-player-content .player-body .player-screen.screen-4,
.live-player-warp .live-player-content .player-body .player-screen.screen-9 {
  grid-gap: 0.75rem;
}
.live-player-warp .live-player-content .player-body .player-screen .active {
  position: relative;
}
.live-player-warp .live-player-content .player-body .player-screen .active::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 99;
  border: 0.125rem solid red;
  pointer-events: none;
}
.live-player-warp .live-player-content .player-body .player-screen .full-screen {
  border: 1px solid var(--bg);
}
.live-player-warp .live-player-content .player-body .player-screen .player-screen-item {
  position: relative;
}
.live-player-warp .live-player-content .player-body .player-screen .player-screen-item .media-btn-refresh {
  position: absolute;
  top: 0.25rem;
  right: 0.25rem;
  z-index: 2;
  padding: 0.125rem 0.25rem;
  font-size: var(--fs-12);
  background-color: var(--line-strong);
  border-radius: 0.125rem;
  cursor: pointer;
}
.live-player-warp .live-player-content .player-body .player-screen .player-screen-item .media-btn-refresh:hover {
  background-color: var(--line);
}
.live-player-warp .live-player-content .player-body .player-screen .player-screen-item .media-btn-refresh:active {
  background-color: var(--ink-4);
}